.app {
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

body {
    background-color: #E4D4FF;
    margin: 50px 100px;
}

.content {

}
